:local(.expenseForm) {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    color: #14A76C;
    font-size: 1.25em;
  }
  input {
    border: 1px solid #14A76C;
    background: #747474;
    border-radius: 5px;
    font-size: .70em;
  }
  button {
    border-radius: 5px;
    font-size: .75em;
    width: 10em;
    margin-bottom: 1em;
  }

  button:hover {
    background: #FF3B3F
  }
}