:local(.expenseForm) {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    display: flex;
    justify-content: center;
  }

  label {
    color: #14A76C;
    text-align: left;
  }
  input {
    border: 1px solid #14A76C;
    background: #272727;
    border-radius: 5px;
    color: #14A76C;
    font-size: 1em;
    margin: .25em 0 .25em 0;
  }
  button {
    background: #242323;
    border: none;
    border-radius: 5px;
    color: #14A76C;
    font-size: 1em;
    margin: 0 10px 0 10px;
    padding-top: .25em;
    padding-bottom: .25em;
    cursor: pointer;
  }

  button:hover {
    background: #14A76C;
    color: black;
  }
}