:local(.expenseDisplay) {
  display: flex;
  justify-content: space-between;
  color: #14A76C;
  
  #section, #amount {
    background-color: #242323;
    padding: 5px;
    margin: 0;
  }
 
  #section:hover {
    background-color: #14A76C;
    border-radius: 5px;
    color: black;
    cursor: pointer;
  }

  button {
    background: #242323;
    border: none;
    border-radius: 5px;
    color: #14A76C;
    margin-left: 10px;
    font-size: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
  }
}