:local(.categoryDisplay) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  #categoryEdit {
    align-self: flex-end;
    font-size: 1.25em;
    border-radius: 5px;
  }
}